footer.molgenis-docs-footer
    p MOLGENIS and these docs are maintained by the #[a(href="about/team") MOLGENIS team and collaborators]. #[br] Documentation source code released under the #[a(href="/LICENSE-MIT") MIT License], documentation contents under #[a(href="/LICENSE-CC") CC BY 3.0], and MOLGENIS software code under the #[a(href="/LICENSE-LGPLv3") LGPLv3 License].
        ul.text-muted
            li Version #{version}
            li ·
            li: a(href="#{github}") MOLGENIS Github
            li ·
            li: a(href="#{issues}") MOLGENIS Issues
            li ·
            li: a(href="#{docsgithub}") Docs Github    
            li ·
            li: a(href="#{docsissues}") Docs Issues
            li ·
            li: a(href="#{releases}") Releases