//- header
header.molgenis-docs-header

    //- navbar
    .navbar.navbar-fixed-top(role="navigation")
        .header-container
            .navbar-header
                button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false",aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.active(href="/")
                    img.wordmark(src="/res/images/wordmark-blue.png", alt="#{ name }")
            
            .collapse.navbar-collapse               
                ul.nav.navbar-nav pull-right
                    each article, slug in public._data
                        if(slug != "index")
                            li(class="#{ current.path[0] === slug ? 'active' : '' }")
                                a(href="/#{slug}") #{article.title}
                    li
                        a(href="#searchbox", data-toggle="collapse")
                            i.glyphicon.glyphicon-search
                        
    #searchbox.collapse
        form(role="search",action="/search-results")
            input.form-control(placeholder="Search",name="q")                  
    
    //- titlebar
    if(current.source == 'index')
        if(current.path.length > 1 && public._data[current.path[0]] != null)
            .molgenis-docs-titlebar.active
                .container 
                    h1 #{public._data[current.path[0]].title}
                    p #{public._data[current.path[0]].description}
                    
    else if(current.source == '404')
            .molgenis-docs-titlebar.active
                .container 
                    h1 404 Page not found
                    p Sorry this page is not available.  
                    
    else if(current.path.length > 1 && public._data[current.path[0]] !=  null)
        .molgenis-docs-titlebar.active
            .container 
                h1 #{title}
                p #{description}   
    
    else if(public._data[current.path[0]] !=  null)
        .molgenis-docs-titlebar.active
            .container 
                h1 #{title}
                p #{description}
    else
        ERROR
