if(current.source == 'index')
    if(current.path.length > 1 && public._data[current.path[0]] != null)
        .titlebar.active
            .container 
                h1 #{public._data[current.path[0]].title}
                p #{public._data[current.path[0]].description}
else if(current.source == '404' || current.source == 'sitemap')
    
else if(public._data[current.path[0]] !=  null)
    .titlebar.active
        .container 
            h1 #{public._data[current.path[0]].title} > #{title}
            p #{description}
else
    ERROR
