each article, slug in public.pipelines._data
    if(slug != 'index')
        if(article.subheading)
            h1 #{article.title}
            p #{article.description}:
        else
            li
                span
                    a(href="#{slug}") #{article.title}
                    |  - #{article.description}
