h1 Compute

p Compute is a commandline framework to create large workflows building on BASH scripts. It has been mostly been used for next-generation sequencing pipelines.

each article, slug in public.compute._data
    if(slug != 'index')
        if(article.subheading)
            h1 #{article.title}
            p #{article.description}:
        else
            li
                p
                    a(href="#{slug}") #{article.title}
                    |  - #{article.description}